body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #666;
}

.navbar-logo img {
  width: 50px;
  margin-right: 14px;
}

.navbar-brand-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
  color: #494949;
}

.navbar-brand-text .logotext {
  color: rgb(59, 8, 159);
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.navbar-menu div {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
  color: #666; /* Light gray color for menu items */
  font-size: 1em;
}

.navbar-menu div:hover {
  color: #a200ff;
}

.navbar-heading h1,
.navbar-heading h2{
    display: flex;
    justify-content: center;
  color: #f0deff;
  background-image: -webkit-linear-gradient(
    45deg,
    #f0deff 0%,
    #f54242 22%,
    #e852ff 67%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.navbar-heading h1 {
  font-size: 3rem;
  margin-top: 60px;
}

.navbar-heading h2 {
  font-size: 1.5rem;
}

